<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>CookieClicker ログ</title> 
  </head>
  <body>
    <h1>CookieClicker ログ</h1>
    <div id="cookie-chart-container" style="position: relative; height:40vh; width:60vw;">
    <canvas id="cookie-chart-canvas" style="display: block;"></canvas>
    </div>
    <div id="object-chart-container" style="position: relative; height:40vh; width:60vw;">
      <canvas id="object-chart-canvas" style="display: block;"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script>
      // 色.
      let lineColor = [ '#4285f4','#ea4335','#fbbc04','#34a853','#ff6d01','#46bdc6','#7baaf7','#f07b72','#fcd04f','#71c287','#ff994d','#7ed1d7','#b3cefb','#f7b4ae']
      // CPS グラフ.
      let ctxCps = document.getElementById('cookie-chart-canvas');
      let chartCps = new Chart(ctxCps, {
        type: 'line',
        data: {
          labels: [<%= labels %>],
          datasets: [
            {
              label: 'CPS',
              data:[<%= cps_data %>],
              borderColor: lineColor[0],
              pointRadius: 0,
              yAxisID: 'y_cps',
            },
            {
              label: 'Cookie',
              data:[<%= cookie_data %>],
              borderColor: lineColor[1],
              pointRadius: 0,
              yAxisID: 'y_cookie',
            },
          ],

        },
        options: {
          title: { display: true, text: 'クッキー' },
          plugins: { 
            legend: { position: 'right' },
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
             y_cps: {
               //type: 'logarithmic',
              position: 'left',
            },
            y_cookie: {
              position: 'right',
              grid: {
                drawOnChartArea: false, // only want the grid lines for one axis to show up
              },
            },
          }
        },
      });

      // Object数グラフ.
      ObjectName = [
        'Cursor', 'Grandma', 'Farm', 'Factory', 'Mine', 'Shipment', 'Alchemy lab', 'Portal', 'Time machine',
        'Antimatter condenser', 'Prism', 'Chancemaker', 'Fractal engine', 'Javascript console', 'Idleverse'
      ];
      let ctxObject = document.getElementById('object-chart-canvas')
      let chartObject = new Chart(ctxObject, {
        type: 'line',
        data: {
          labels: [<%= labels %>],
          datasets: [
            { label: ObjectName[0], data:[<%= object_data[0] %>], borderColor: lineColor[0], pointRadius: 0 },
            { label: ObjectName[1], data:[<%= object_data[1] %>], borderColor: lineColor[1], pointRadius: 0 },
            { label: ObjectName[2], data:[<%= object_data[2] %>], borderColor: lineColor[2], pointRadius: 0 },
            { label: ObjectName[3], data:[<%= object_data[3] %>], borderColor: lineColor[3], pointRadius: 0 },
            { label: ObjectName[4], data:[<%= object_data[4] %>], borderColor: lineColor[4], pointRadius: 0 },
            { label: ObjectName[5], data:[<%= object_data[5] %>], borderColor: lineColor[5], pointRadius: 0 },
            { label: ObjectName[6], data:[<%= object_data[6] %>], borderColor: lineColor[6], pointRadius: 0 },
            { label: ObjectName[7], data:[<%= object_data[7] %>], borderColor: lineColor[7], pointRadius: 0 },
            { label: ObjectName[8], data:[<%= object_data[8] %>], borderColor: lineColor[8], pointRadius: 0 },
            { label: ObjectName[9], data:[<%= object_data[9] %>], borderColor: lineColor[9], pointRadius: 0 },
            { label: ObjectName[10], data:[<%= object_data[10] %>], borderColor: lineColor[10], pointRadius: 0 },
            { label: ObjectName[11], data:[<%= object_data[11] %>], borderColor: lineColor[11], pointRadius: 0 },
            { label: ObjectName[12], data:[<%= object_data[12] %>], borderColor: lineColor[12], pointRadius: 0 },
            { label: ObjectName[13], data:[<%= object_data[13] %>], borderColor: lineColor[13], pointRadius: 0 },
          ],
        },
        options: {
          title: { display: true, text: 'オブジェクト数' },
          plugins: { 
            legend: { position: 'right' },
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {},
        },
      });
    </script>

  </body>
</html>
